<title>Ubiquity - <%= yield(:title) || "Social transport" %></title>
<meta charset="utf-8">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
<meta content="IE=edge" http-equiv="X-UA-Compatible"  />
<meta name="author" content="ubiquity">

<meta name="description" content="Tracking public transport vehicles is merely impossible with very few buses having GPS trackers. Even then the information is in-accessible. We want to build a system where tracking is enabled by people, for people, a crowd sourced public transport tracking system.">
<meta name="Keywords" content="tranport, crowdsourced">
<%= csrf_meta_tags %>
<%#= favicon_link_tag image_path('favicon.ico') %>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>

<% if Rails.env.production? %>
  <script type="text/javascript">
    <!-- GA goeas here!! -->
  </script>
<% end %>

<script type="text/javascript">
  if (navigator.geolocation) {
    var timeoutVal = 10 * 1000 * 1000;
    navigator.geolocation.getCurrentPosition(
      displayPosition, 
      displayError,
      { enableHighAccuracy: true, timeout: timeoutVal, maximumAge: 0 }
    );
    } else {
      alert("Geolocation is not supported by this browser");
    }

  function displayPosition(position) {
    L.marker([position.coords.latitude,position.coords.longitude]).addTo(map)
    .bindPopup("<b>My location</b>.").openPopup();
  }

  function displayError(error) {
    var errors = { 
      1: 'Permission denied',
      2: 'Position unavailable',
      3: 'Request timeout'
    };
    alert("Error: " + errors[error.code]);
  }
</script>

<%= yield(:head) %>